<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseTypes.PieroViano" version="1.0.0.65" targetFramework="net472" />
  <package id="ConfigurationLibrary.PieroViano" version="1.2.0.52" targetFramework="net472" />
  <package id="CoreLibrary.PieroViano" version="1.0.0.127" targetFramework="net472" />
  <package id="DotNetZip" version="1.14.0" targetFramework="net472" />
  <package id="FileLogger.PieroViano" version="1.0.0.127" targetFramework="net472" />
  <package id="log4net" version="2.0.11" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="WindowsFormsLibrary.PieroViano" version="1.0.0.65" targetFramework="net472" />
</packages>